<%= form_for(@spectateur) do |f| %>
  <% if @spectateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spectateur.errors.count, "error") %> prohibited this spectateur from being saved:</h2>

      <ul>
      <% @spectateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :descripton %><br>
    <%= f.text_area :descripton %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
