<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cinema.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cinema.location %>
</p>

<p>
  <strong>Coordonnée X:</strong>
  <%= @cinema.x %>
</p>

<p>
  <strong>Coordonnée Y:</strong>
  <%= @cinema.y %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
